<div class="row">
  <div class="col-sm-4" *ngFor="let book of books">
    <a [routerLink]="['book', book.isbn]" routerLinkActive="active">
    <div class="card">
      <div class="card-body">
        <img class="img-fluid" src="../../../assets/img/1001-films-a-voir-avant-de-mourir.jpg" alt="">
        <h5 class="card-title text-center">{{book.title}} <ng-template *ngIf="book.isDigital == true"> ( livre numérique ) </ng-template>
           </h5>
        <p  class="card-text text-center" *ngFor="let elt of book.authors">
          {{elt.firstName}} {{elt.lastName}}  
      </p>
        <p class="card-text text-center"> {{book.priceExcludingTax}} euros</p>

      </div>
    </div>
  </a>
  </div>
</div>