<div class="row">
    <div class="list-group col-4">
        <button type="button" class="list-group-item list-group-item-action">
            Cras justo odio
        </button>
        <button type="button" class="list-group-item list-group-item-action active" routerLink="/allOrder">liste des
            commandes</button>
        <button type="button" class="list-group-item list-group-item-action">gestion du compte </button>
        <button type="button" (click)="  disconnect()"
            class="list-group-item list-group-item-action">deconnection</button>
    </div>
<div class="col-8"> 
    <div class=" row" *ngFor="let elt of _orders"> 
    <div class="border border-primary col py-4 my-4">
<p>  votre numéro de commande n° {{elt.id}} date de la commande : {{elt.orderDate}}</p>
<a a [routerLink]="['detailsOrder', elt.id]" routerLinkActive="active" class="btn btn-dark"> cliquer ici pour consulter le détail de votre commande </a>
</div>


</div>
</div>
