  
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{_book.image}}" alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder"> {{_book.title}}</h1>
                        <div class="fs-5">
                            Auteurs:     <span *ngFor="let elt of _book.authors" > {{elt.firstName}} {{elt.lastName}} </span>
                        
                        </div>
                        <div class="fs-5">
                            genres :   <span *ngFor="let elt of _book.bookGenres" >  {{elt}} </span>
                           
                        </div>
                        <div class="fs-5">
                            Nombre de pages : {{_book.numberOfPages}}                          
                        </div>
                        <div class="fs-5">
                            Editeur : {{_book.publishing.name}}                          
                        </div>
                       
                       
                        <div class="fs-5 mb-5">  <span> {{_replaceValue}} euros</span> </div>
                        <p class="lead">{{_book.resume}}</p>
                        <div class="d-flex">

                            <form [formGroup]="_addCartForm" (ngSubmit)="onSubmitForm()">
                            <input class="form-control text-center me-3" id="amount" type="num" style="max-width: 3rem" formControlName="amount" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                          ajouter au panier
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
