
<div class="row" *ngFor="let cartLine of this._cart;; index as i">
  <div class="col-md-2 text-center">
    <p>
      Nom de l'article :
      {{cartLine.item.name}}
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      prix de l'article :
      {{cartLine.item.priceExcludingTax}}
    </p>
  </div>

<div class="col-md-2 text-center"> 
  <label for="input{{cartLine.item.id}}"> quantité</label>
  <input type="numer" class=" mx-3 amount_input" value = "{{cartLine.amount}}"  name="input{{cartLine.item.id}}" (change)="updateAmount(cartLine.item.id,$event)">
</div>
<div class="col-md-2 text-center">
  <p>
    Prix total :
    {{  cartLine.amount * 100 * cartLine.item.priceExcludingTax/100 }}
  </p>
</div>
<div class="col-md-1 text-center">
 
<img  class="trash" src="../../../assets/img/trash-solid.svg" alt="" (click)="deleteItemStorage(i)">
 
</div>
</div>
