<!-- Footer -->
<footer class="container-fluid  bg-dark text-light">

    <!-- Footer Elements -->
    <div class="">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
      Contacter le support :
        </li>
        <li class="list-inline-item">
            
          <a href="mailto:support@septiemearche.fr"> <button class="btn btn-dark"> Cliquez-ici </button></a>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      Septième Arche
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->