      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Septième Arche</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">se connecer</a></li>


                  </ul>
                  <form class="d-flex" [formGroup]="_searchForm" (ngSubmit)="onSubmitForm()">
                    <input class="form-control mr-sm-2" type="text" id="search" placeholder=" titre livre ou nom auteur" aria-label="Search" formControlName="search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                  </form>
              
                <form class="d-flex" >
                    <button class="btn btn-outline-dark  mx-5" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{_sessionLength}}</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>